body  {
    background-color: #7f0000;
    font-family: 'Lato', sans-serif;
  color: #FFFFFF;

}

#cartext {
    font-family: 'Bungee', cursive;
    text-align: center;
    color: #FFFFFF;
}

.modal-style {
  position: relative;
  background-color: #7f0000;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          font-family: 'Lato', sans-serif;

}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.btn-primarymod {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #777;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3333333;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;

}

img {
  background: black;
border-radius: 2px;
border-color: black;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
padding: 8px;
}

#header {
    background-color: #7f0000;
    display: inline;
    border-radius: 20px;
    font-size: 2em;
}

#hspan {


}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

@media screen and (min-width: 800px) {
    #header {
        font-size: 6em;
    }
}


